outputs/**
inputs/**
carga_1.txt
vin_carga1.txt
vin_carga_1.txt
layout_contract.csv
apertura_6230_6208.csv
contratos/
data_pay_PV.csv
relacion_aperturas_6208.txt
src/HILDA/
src/Imprimir/
src/Tarinda/
src/alletia/
src/data/
listnames.csv
listnames12500.csv
src/dataPV.csv
src/data_names.csv
listnames14500.csv